body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(59, 78, 181);
}
header img{
    width: 1000px;
    height: 900px;
    position: fixed;
    right: 740px;
    top: -30px;
}   
header h1{
    color: rgb(214, 235, 253);
    position: absolute;
    top: 180px;
    right: 100px;
    text-align: center;
}
.set{
    color: rgb(214, 235, 253);
    text-align: center;  
    font-size: 20px;
}

.gold{
  background-color: rgba(20, 41, 72, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border-radius:10px ;
  width: 620px;
  height:160px ;
  position: relative;
  top: 350px;
  left: 250px;
}
div img{
    position:relative ;
    width: 100px;
    height: 100px;
    left: 50px;
}
:hover.gold{
  background-color: rgba(33, 62, 105, 0.7);
  border: 1px solid rgba(77, 77, 93, 0.1);
  box-shadow: 0 0 25px rgba(73, 73, 73, 0.4);
  transition: 0.5s;
}
