body {
    font-family: sans-serif;
    background-color: #404040;
    color: rgb(0, 0, 0);
    margin: 0;
}

header {
    background-image: url("https://i.ibb.co/4g2P36Jm/photo-2025-10-10-19-35-51.jpg");
    height: 200px;
    width: 100%;
    margin-top: -21px;
    background-size: cover;
    background-repeat: no-repeat;
    border: #000000;
   
}
nav {
   display: flex; 
   justify-content: space-around;
   border: 6px ridge #000000;
   background-color: rgb(172, 172, 172);
   padding-top: 10px;
   padding-bottom: 10px;
}

header h1 {
    border: 5px solid #000000;
    background-color: rgb(172, 172, 172);
    padding: 5px;
    text-align: center;
    position: absolute;
    top:50px;
    left: 25%;
    box-shadow: -5px 5px 30px 0 #ff4f4f; 
}

footer{
    display: flex;
    justify-content: space-around;
}
  footer h3 {
      margin-bottom: 10px;
      color: #e50914;
    }
    
    footer h4 {
      margin: 5px 0;
      font-weight: normal;
      color: #bbb;
      cursor: pointer;
    }
    .verx{
    border: 5px solid #000000;
    background-color: rgb(102, 102, 102);
    padding: 10px;
    text-align: center;
    left:20%;
    height: 26px;
    color:#ffffff ;
    margin-top: 110px;
    font-size: 30px;
    text-decoration: none;
     }

    


.a{
    width: 150px;
    text-align: center;
    box-shadow: 1px 5px 20px 0 #ff4f4f;
}

    
.nav-link{
     text-decoration: none;
     font-size: 20px;
}

.s{
    box-shadow: 3px 5px 10px 0 #ff4f4f; 
    
}
.b{
    box-shadow: 3px 5px 30px 0 #ff4f4f; 
    border-style: 10px ridge #000000;
}
a:hover {
   box-shadow: 1px 7px 20px 0 #c7c7c7;
}
main {
    border: 5px solid #000;
    padding: 20px;
    background-color: #505050;
}

main h1 {
    background-color: rgb(172, 172, 172);
    border: 5px solid #000;
    padding: 10px;
    margin-top: 20px;
}

.blogger {
    margin: 40px auto;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 3px solid #222;
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 3px 5px 10px 0 #ff4f4f;
}

.name {
    margin-top: 10px;
    font-size: 24px;
    width: 200px;
    background-color: rgb(172, 172, 172);
    border: 5px solid #000;
    box-shadow: 1px 5px 20px 0 #ff4f4f;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0;
}

iframe {
    width: 90%;
    max-width: 650px;
    height: 360px;
    margin-top: 20px;
    box-shadow: 3px 5px 30px 0 #ff4f4f;
    border: none;
}
